.clientinfo-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #F6F6F6;
}
.clientinfo-sidemenu{
    margin-top: 200px;
}

.clientinfo-container h1{
    color: #000;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 100px;
}
.clientinfo-container h3{
    color: #AFAFAF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 80px;
}

.clientinfo-content{
    display: flex;
}
.clientinfo-inputs-container{
    margin-top: -24px;
    margin-left: 60px;
}
.clientinfo-label{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clientinfo-input{
    width: 800px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #B2ADAD;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     color: #424242;  
    font-size: 16px;  
    font-family: Montserrat; 
    font-weight: 500;  
    padding-left: 15px; 
    margin-bottom: 30px;
}
.clientinfo-input::placeholder{
    color: #7C7C7C;
    font-family: Montserrat;
    font-size: 16px;  
    font-family: Montserrat; 
    font-weight: 500; 
}