.devc-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.devc-input{
    display: flex;
    align-items: center;
    padding: 12px 0 8px 0;
    border-radius: 10px;
    border: 3px solid #000000;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 49%; 
    margin-top: 20px;
    border-collapse: collapse;
}
.devc-input::placeholder{
    color: #6d6d6d;
}

.devc-input{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 15px;
    transition: 0.8s;
}

.devc-input-editando {
  background-color: #ffd3b6;
  border: 2px solid #F05221;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.devc-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 8px 0;
    border-radius: 10px;
    background: #F05221;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 50%; 
    height: 60px;
    border: none;
    margin-top: 20px;
    border-collapse: collapse;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.3ms;
}
.devc-submit:hover{
    cursor: pointer;
    background: #c94117;
    transition: 0.2s ease-in-out;
}
