.loginform-adjustment{
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loginform-links{
    display: flex;
    flex-direction: row;
    gap: 115px;
}
.loginform-links a{
    color: #0095FF;
}