@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-forgotpassword {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 6, 6));
}
.fp-login-container{
    margin-bottom: 12rem;
}