.dropdown-content{
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
    position: absolute;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 1.8rem;
    box-shadow: rgba(149,157,165,0.2)
    0px 8px 24px;
    max-height: 40vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0;
}
.dropdown-content::webkit-scrollbar{
    width: 0;
    height: 0;
}
.content-open{
    opacity: 1;
    pointer-events: auto;
}
@media (min-width: 1000px) and (max-width: 1324px){
    .dropdown-content {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        position: absolute;
        min-width: 100%;
        display: flex
;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-top: 0.5rem;
        background-color: rgb(255 255 255);
        border-radius: 1.8rem;
        color: #BEBEBE;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        max-height: 40vh;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        opacity: 0;
    }
    .dropdown-content::webkit-scrollbar{
    width: 0;
    height: 0;
}
.content-open{
    opacity: 1;
    pointer-events: auto;
}
}