.adm-category-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adm-category-table {
  width: 50%;
  margin-top: 180px;
  border-collapse: collapse;
}

.adm-category-table tr {
  border: 3px solid #000;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.adm-category-item{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.adm-category-actions {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
  flex: 1; 
}

.adm-category-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.edit-button {
  color: #17BF07; /* verde */
}

.edit-button:hover {
  background-color: #e5f5e5;
}

.delete-button {
  color: #FF3B3B; /* vermelho */
}

.delete-button:hover {
  background-color: #ffe5e5;
}

.cancel-button {
  color: #555;
}

.cancel-button:hover {
  background-color: #eee;
}

.adm-category-icon {
  width: 32px;
  height: 32px;
}

/* Input igual ao input normal do formulário */
.adm-category-edit-input {
  width: 100%;
  padding: 8px 0 ;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;

    color: #000;
    padding-left: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.adm-category-edit-input:focus {
  outline: 2px solid #4CAF50;
  background-color: #f0fff0;
}
