.cards-container {
  margin-top: 190px;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  width: 100vw;
}


.card {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  color: #939393;
  cursor: pointer;
}
