@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.headerprestador-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f05221;
  width: 100%;
  height: 140px;
  z-index: 1000;
  padding-top: 25px;
}

.headerprestador-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-top: -1rem;
  flex-wrap: nowrap;
  gap: 20px;
}

.headerprestador-nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 7rem;
  padding-top: 1.3rem;
}

.headerprestador-nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 5rem;
}

.headerprestador-logo {
  width: 150px;
  height: auto;
  padding-right: 7rem;
}

.headerprestador-container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerprestador-container-register {
  border-right: 2px solid white;
  padding-right: 20px;
  color: white;
}

.headerprestador-searchbar {
  margin-top: -1rem;
}

.headerprestador-container-login {
  border-radius: 20px;
  border: 1px solid #FFF;
  padding: 2px 10px 2px 10px;
}

.headerprestador-nav a {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.5px;
}

.headerprestador-nav a:hover {
  text-decoration: underline;
  font-weight: 800;
}
