.auc-wrapper{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.auc-profilebody{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    max-width: 1032px;
    width: 1032px;
    max-height: 110px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #000;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
}
.auc-icon{
    width: 62.583px;
    height: 62.583px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
.auc-h1{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.auc-options{
    display: flex;
    gap: 20px;
}
.auc-verify{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 238px;
    height: 111px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #000;
    background: #00961B;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.auc-verify:hover{
    background: #006e14;
    transition: 0.3s ease-in-out;
    cursor: pointer
}
.auc-analize{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 238px;
    height: 111px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #000;
    background: #3D76F3;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.auc-analize:hover{
    background: #1d54c9;
    transition: 0.3s ease-in-out;
    cursor: pointer
}
